---
version: 2

jobs:
  lint:
    docker:
      - image: "node:22"
    steps:
      - checkout
      - run:
          name: Prettier Check
          command: |
            npx prettier@3.7.4 -c .

workflows:
  version: 2
  extension_test:
    jobs:
      - lint
